.card-img-top {
    height: 250px;
    width: 100%;
}

.flip-horizontal {
    transform: rotate(180deg);
    display: inline-block; /* Ensures the transform works properly */
}

.territory-flag {
    width: 20px;
}